{% extends "base.html" %}

{% block content %}
<h3>Let's Login</h3>

<form action = "/auth/signIn" method="POST" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="signIn">SignIn</label>
      <input placeholder="email" type="email" name="email" id="email_signup" value="{{user.email}}" class="form-control"/>
      <input placeholder="password" type="password" name="password" id="password_signup" value="{{user.password}}" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-success">SignIn</button>
</form>

<form action = "/auth/signUp" method = "POST" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="signUp">SignUp</label>
      <input placeholder="email" type="email" name="email" id="email_signup" value="{{user.email}}" class="form-control"/>
      <input placeholder="password" type="password" name="password" id="password_signup" value="{{user.password}}" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-success">SignUp</button>
</form>

{% endblock %}
{# [END form] #}