{% extends "base.html" %}

{% block content %}
<h3>Let's Login</h3>

{% if not current_user.is_authenticated %}
<form action = "/auth/signIn" method="POST" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="signIn">SignIn</label>
      <input placeholder="email" type="email" name="email" id="email_signup"  class="form-control"/>
      <input placeholder="password" type="password" name="password" id="password_signup"  class="form-control"/>
  </div>
  <button type="submit" class="btn btn-success">SignIn</button>
</form>

<form action = "/auth/signUp" method = "POST" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="signUp">SignUp</label>
      <input placeholder="email" type="email" name="email" id="email_signup"  class="form-control"/>
      <input placeholder="password" type="password" name="password" id="password_signup"  class="form-control"/>
  </div>
  <button type="submit" class="btn btn-success">SignUp</button>
</form>
{% endif %}

{% if current_user.is_authenticated %}
    <div class="media-body">
      <h4>{{current_user.email}}</h4>
    </div>

  <a href="/auth/logout">
  logout
  </a>
{% endif %}

{% endblock %}
{# [END form] #}